<a href="https://colab.research.google.com/github/aakashr30/Naive-Bayes-Project-Social-Ads-/blob/main/Project(NAIVE_BAYES).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/0 (1).MKCE/Datasets/Social_Network_Ads.csv")
data

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [ ]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
data.info

<bound method DataFrame.info of       User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]>

In [ ]:
data2=pd.get_dummies(data)

In [ ]:
data2

      User ID   Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510  19.0          19000.0          0              0            1
1    15810944  35.0          20000.0          0              0            1
2    15668575  26.0          43000.0          0              1            0
3    15603246  27.0          57000.0          0              1            0
4    15804002  19.0          76000.0          0              0            1
..        ...   ...              ...        ...            ...          ...
395  15691863  46.0          41000.0          1              1            0
396  15706071  51.0          23000.0          1              0            1
397  15654296  50.0          20000.0          1              1            0
398  15755018  36.0          33000.0          0              0            1
399  15594041  49.0          36000.0          1              1            0

[400 rows x 6 columns]

In [ ]:
x = data2.drop(['Purchased'],axis=1)
y = data2['Purchased']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
print(x_test.shape)
print(x_train.shape)
print(y_train.shape)
print(y_test.shape)

(100, 5)
(300, 5)
(300,)
(100,)

In [ ]:
#Naivebayes package
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
model.fit(x_train,y_train)

GaussianNB()

In [ ]:
pre = model.predict(x_test)
model.predict_proba(x_test)

array([[8.97166879e-01, 1.02833121e-01],
       [8.38709734e-01, 1.61290266e-01],
       [8.63733342e-01, 1.36266658e-01],
       [9.21609172e-01, 7.83908278e-02],
       [8.93642888e-01, 1.06357112e-01],
       [9.56865068e-01, 4.31349322e-02],
       [8.96195794e-01, 1.03804206e-01],
       [4.32899979e-02, 9.56710002e-01],
       [9.87544329e-01, 1.24556709e-02],
       [5.00128134e-01, 4.99871866e-01],
       [9.52768882e-01, 4.72311184e-02],
       [9.64490757e-01, 3.55092434e-02],
       [8.70581560e-01, 1.29418440e-01],
       [7.10421103e-01, 2.89578897e-01],
       [9.73974014e-01, 2.60259855e-02],
       [5.13615291e-01, 4.86384709e-01],
       [8.09696317e-01, 1.90303683e-01],
       [9.78212053e-01, 2.17879467e-02],
       [4.82295743e-03, 9.95177043e-01],
       [8.68612388e-01, 1.31387612e-01],
       [8.89759490e-01, 1.10240510e-01],
       [6.51191797e-03, 9.93488082e-01],
       [7.60523631e-01, 2.39476369e-01],
       [1.53797857e-01, 8.46202143e-01],
       [9.75558181e-01, 2.44418189e-02],
       [6.08047178e-03, 9.93919528e-01],
       [9.15834501e-01, 8.41654986e-02],
       [9.29135940e-01, 7.08640601e-02],
       [8.41738052e-01, 1.58261948e-01],
       [8.44893642e-01, 1.55106358e-01],
       [9.61420255e-01, 3.85797448e-02],
       [7.80696802e-01, 2.19303198e-01],
       [1.23152223e-01, 8.76847777e-01],
       [8.56093208e-01, 1.43906792e-01],
       [9.78852023e-01, 2.11479769e-02],
       [9.90889877e-01, 9.11012256e-03],
       [9.71067142e-01, 2.89328579e-02],
       [8.99316355e-01, 1.00683645e-01],
       [9.38046339e-01, 6.19536614e-02],
       [3.73567821e-01, 6.26432179e-01],
       [9.29954179e-01, 7.00458207e-02],
       [7.63215692e-01, 2.36784308e-01],
       [9.27951486e-01, 7.20485145e-02],
       [8.66253377e-01, 1.33746623e-01],
       [1.86433547e-01, 8.13566453e-01],
       [9.65216131e-01, 3.47838690e-02],
       [7.90484762e-01, 2.09515238e-01],
       [1.33244635e-01, 8.66755365e-01],
       [9.70137084e-01, 2.98629158e-02],
       [2.28606698e-01, 7.71393302e-01],
       [6.90438888e-03, 9.93095611e-01],
       [8.81040569e-01, 1.18959431e-01],
       [8.75889662e-01, 1.24110338e-01],
       [4.20352143e-01, 5.79647857e-01],
       [3.21957286e-02, 9.67804271e-01],
       [5.95403911e-01, 4.04596089e-01],
       [9.22000903e-01, 7.79990965e-02],
       [9.42649245e-01, 5.73507551e-02],
       [3.92386768e-01, 6.07613232e-01],
       [9.71958946e-01, 2.80410542e-02],
       [8.90388925e-01, 1.09611075e-01],
       [7.32238490e-02, 9.26776151e-01],
       [9.84227124e-01, 1.57728764e-02],
       [6.43713192e-01, 3.56286808e-01],
       [9.85726853e-01, 1.42731474e-02],
       [3.80544075e-02, 9.61945592e-01],
       [9.49452629e-01, 5.05473714e-02],
       [9.68271332e-01, 3.17286678e-02],
       [7.79074421e-01, 2.20925579e-01],
       [6.76090702e-01, 3.23909298e-01],
       [4.23405656e-02, 9.57659434e-01],
       [8.53379891e-01, 1.46620109e-01],
       [9.78487551e-01, 2.15124487e-02],
       [5.19734747e-01, 4.80265253e-01],
       [9.27252370e-01, 7.27476299e-02],
       [9.80525838e-01, 1.94741615e-02],
       [6.20493568e-01, 3.79506432e-01],
       [7.56462897e-01, 2.43537103e-01],
       [2.39371188e-01, 7.60628812e-01],
       [1.24459180e-01, 8.75540820e-01],
       [6.68812587e-04, 9.99331187e-01],
       [3.91265302e-02, 9.60873470e-01],
       [9.77470106e-01, 2.25298936e-02],
       [9.70815155e-01, 2.91848449e-02],
       [1.02066741e-01, 8.97933259e-01],
       [6.06563406e-01, 3.93436594e-01],
       [7.22202181e-01, 2.77797819e-01],
       [2.23133439e-03, 9.97768666e-01],
       [5.60542638e-01, 4.39457362e-01],
       [7.48571924e-01, 2.51428076e-01],
       [7.02655681e-01, 2.97344319e-01],
       [2.54676471e-02, 9.74532353e-01],
       [9.82686959e-01, 1.73130414e-02],
       [9.70758842e-01, 2.92411576e-02],
       [9.59445481e-01, 4.05545190e-02],
       [8.96890671e-01, 1.03109329e-01],
       [9.76071345e-01, 2.39286546e-02],
       [4.62131557e-01, 5.37868443e-01],
       [2.27076154e-01, 7.72923846e-01],
       [3.12184577e-01, 6.87815423e-01]])

In [ ]:
accuracy_score(y_test,pre)
#confusion_matrix(y_test,pre)
#classification_report(y_test,pre)

'              precision    recall  f1-score   support\n\n           0       0.90      0.97      0.94        68\n           1       0.93      0.78      0.85        32\n\n    accuracy                           0.91       100\n   macro avg       0.92      0.88      0.89       100\nweighted avg       0.91      0.91      0.91       100\n'

array([[66,  2],
       [ 7, 25]])